<footer class="text-center mt-5 mb-4">
  <p class="footer-legal">All Images &copy; <span id="currentYear">2020</span> Jordyn N. Ehmpke <a href="/">Fotonic-Photos.com</a></p>
  <a href="http://www.facebook.com/FotonicPhotos/" class="footer-social-links" target="_blank" rel="noopener">
    <img src="./assets/img/facebook-f_white.svg" class="footer-icons" alt="Facebook icon, link to the Fotonic-Photos Facebook page">
  </a>
  <a href="http://www.instagram.com/fotonicphotos/" class="footer-social-links" target="_blank" rel="noopener">
    <img src="./assets/img/instagram-white.svg" class="footer-icons" alt="Instagram icon, link to Fotonic-Photos Instagram page">
  </a>
</footer>