<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{page.title}} — {{site.title}}</title>
  <meta name="description" content="Jordyn Ehmpke, Photographer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Jordyn Ehmpke, Photos, Photographer, photography">
  <meta name="theme-color" content="#3b4874">
  {% include scripts/google-tag.html %}
  {% include styles/vendor.html %}
  {% include styles/fonts.html %}
  {% include styles/main.html %}
  <link rel="manifest" href="./manifest.json">
  <meta property="og:title" content="Jordyn Ehmpke - Photographer">
  <meta property="og:site_name" content=" - Jordyn Ehmpke">
  <meta property="og:url" content=" - https://www.fotonic-photos.com">
  <meta property="og:description" content="Jordyn Ehmpke, Photographer">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@http://twitter.com/jnehmpke">
  <meta name="twitter:title" content="Jordyn Ehmpke - Photographer">
  <meta name="twitter:description" content="Jordyn, Photographer">
</head>
<body>
